/*
@import url (font);
@import url (icons);

*/

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem; /* adjust spacing as needed */
  width: 100%;
}

*,
*::before,
*::after{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  list-style:none;
  list-style-type: none;
  text-decoration: none;
}

html{
  box-sizing:inherit;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}

body{
  font-family: ;
  font-size: ;
  font-weight: ;
  height: -webkit-fill-available;
  color:#cf4d22;
  background-color: bisque;
  display:grid;
  padding: 0px 40px 0px 40px;
}

body.overflow-hidden{
  overflow: hidden;
}

main{
  overflow:hidden;
}

a,button{
  cursor:pointer;
  border:none;
  user-select: none;
  box-shadow: none;
  background:none;
  text-decoration: none;
}

img,video{
  display:block;
  max-width: 100%;
  height:auto;
  object-fit:cover;
}

h1,h2,h3,h4,h5,h6{
  font-family: ;
}

.container{/*for main content*/
  max-width:1462px;
  height:auto;
  margin:0 auto;
  padding: 0 24px;
}

/*//  loader   //*/
#loader {
  position: fixed;
  background-color: orange;
  color: #cf4d22;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  width:100%;
  height:100%;
}

#loader h1{
  font-size: 3rem;
}

#loader img[alt="icon"]{
  width:30px;
  height:auto;
}




/*// TopBar //*/
#topbar {
  position: sticky;
  top: 0;
  z-index: 999;
  grid-column: 1/-1;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
}

#topbar a{
  color: #cf4d22;
}

#topbar h3{
  font-size: 1rem;
}

/* Positioning each nav item */
.nav-name {
  grid-column: 1 / 2; /* first column */
}

.nav-spatial {
  grid-column: 4 / 5; /* 4th column */
}

.nav-visual {
  grid-column: 5 / 6; /* 5th column */
}

.nav-interactive {
  grid-column: 6 / 6; /* 6th column */
}


/*// Main //*/
main{
  padding-top:300px;
}


/*// intro //*/
.intro > p{
  text-indent: calc(100% / 6 * 3);

}

.contact{
  padding-top: 30px;
}

.contact >p {
  grid-column: 5/6;
}

.contact >ul {
  grid-column: 6/6;
}





